/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.table{
    width: 100%;
    margin: 12px;
}
.table td, 
.table th {
    padding: 8px;
    border: 1px solid #ddd;
 }
 .table th{
     background-color: #04aa46;
     color: white;
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
 }
 .table tr:nth-child(event){
background-color: #f2f2f2;
 }
 .table tr:hover{
     background-color: #ddd;
     cursor: pointer;
 }