        main {
            margin: 0px;
        }
        
        ul {
            list-style: none;
        }
        
        .navbar {
            display: flex;
            justify-content: space-between;
            padding: 0px;
            margin: 0px;
            padding: 10px;
        }
        
        .logo {
            height: 40px;
        }
        
        .botonGenerico {
            border: 0px;
            padding: 5px 10px;
            font-weight: bold;
            border-radius: 8px;
        }
        
        .botonGenerico:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
        /*crear una clase para botones principales y ajustar sus caracteristicas*/
        
        .mainButton {
            background-color: rgb(65, 204, 52);
            color: white;
        }
        /*agregar un subclase a la clase del boton principal para hacer otros ajustes*/
        
        .mainButton:hover {
            cursor: pointer;
            box-shadow: 5px 5px gray;
            transform: scale(1.2);
        }
        
        .secundaryButton {
            background-color: blue;
            color: white;
        }
        
        .secundaryButton:hover {
            cursor: pointer;
            box-shadow: 5px 5px gray;
            transform: scale(1.1);
        }
        /*crear una clase para el boton buscar y aplicarle unas propiedades*/
        
        .buscar {
            background-color: white;
            border: 1px solid gray;
            padding: 4px;
            border-radius: 8px;
        }
        /*crear una subclase para el boton buscar y aplicarle unas propiedades*/
        
        .buscar:focus-within {
            border: 1px solid blue;
        }
        /*crear otra subclase para el boton buscar y aplicarle unas propiedades*/
        
        .buscar>input {
            outline: none;
            border: 0px;
        }