main {
    margin: 0px;
}

ul {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    padding: 10px;
    background-color: rgb(214, 215, 223);
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px gray;
}

.navbar>li {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
}

.botonGenerico {
    border: 0px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 8px;
}

.botonGenerico:hover {
    cursor: pointer;
    transform: scale(1.2);
}


/*crear una clase para botones principales y ajustar sus caracteristicas*/

.mainButton {
    background-color: rgb(65, 204, 52);
    color: white;
}


/*agregar un subclase a la clase del boton principal para hacer otros ajustes*/

.mainButton:hover {
    cursor: pointer;
    box-shadow: 5px 5px gray;
    transform: scale(1.2);
}

.secundaryButton {
    background-color: blue;
    color: white;
}

.secundaryButton:hover {
    cursor: pointer;
    box-shadow: 5px 5px gray;
    transform: scale(1.1);
}


/*crear una clase para el boton buscar y aplicarle unas propiedades*/

.buscar {
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}


/*crear una subclase para el boton buscar y aplicarle unas propiedades*/

.buscar:focus-within {
    border: 2px solid blue;
}


/*crear otra subclase para el boton buscar y aplicarle unas propiedades*/

.buscar>input {
    outline: none;
    border: 2px;
}

.iconeBusqueda:hover {
    color: red;
}

.title {
    display: flex;
    justify-content: center;
    color: rgb(78, 78, 90);
}

.bleedCardContainer {
    display: flex;
}

.bleedCard {
    margin: 10px;
    box-shadow: 5px 10px 5px;
    background-color: rgb(78, 78, 90);
    border-radius: 10px;
}

.bleedTitle {
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: x-large;
}

.contenedorImagen {
    width: 240px;
    height: 350px;
    display: flex;
    margin-bottom: 10px;
}

.contenedorImagen:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.contenedorImagen>img {
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}